.top-carousel {
  display: flex;
  align-items: center;
  gap: 3%;
  overflow-y: hidden;
}

.carousel-container {
  position: relative;
}

.carousel-container .left-arrow,
.carousel-container .right-arrow {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: fit-content;
  display: none;
  z-index: 1;
  transform: translateX(-1.2em);
}

.carousel-container .right-arrow {
  right: 0;
  left: auto;
  transform: translateX(1.2em);
}

.carousel-container .left-arrow span,
.carousel-container .right-arrow span {
  font-size: 1em;
  color: var(--text-color);
}

.top-carousel .sectionCarousel-card,
.top-carousel .officialVideo-card,
.top-carousel .genreCarousel-card {
  width: 85%;
  position: relative;
  flex-shrink: 0;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  animation: loadCard 1s ease-in-out;
}

@keyframes loadCard {
  0% {
    filter: blur(2px);
  }
  100% {
    filter: blur(0);
  }
}

.top-carousel .sectionCarousel-card::after,
.top-carousel .officialVideo-card::after,
.top-carousel .genreCarousel-card::after {
  content: '';
  background: linear-gradient(0deg, #051c2d, transparent);
  height: 40%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.top-carousel .sectionCarousel-card .card-image,
.top-carousel .officialVideo-card .card-image {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  opacity: 0.7;
}

.top-carousel .sectionCarousel-card .card-image img,
.top-carousel .officialVideo-card .card-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.top-carousel .sectionCarousel-card .genres-list {
  position: absolute;
  top: 2%;
  right: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2em;
}

.top-carousel .sectionCarousel-card .genres-list .genre {
  --max-lines: 1;
  --line-height: 1.4;
  border-radius: 10rem;
  padding: 5px 10px;
  margin-right: 0.5em;
  background-color: var(--second-bgColor);
  color: var(--text-color);
  font-size: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.top-carousel .sectionCarousel-card .genres-list .genre:last-child {
  margin-right: 0;
}

.top-carousel .sectionCarousel-card .text {
  position: absolute;
  bottom: 5%;
  left: 2%;
  z-index: 1;
}

.top-carousel .sectionCarousel-card .text .title {
  font-size: 1em;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 3%;
  color: var(--text-color);
}

.top-carousel .sectionCarousel-card .text .overview {
  font-size: 0.6em;
  font-style: normal;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 95%;
  color: var(--text-color);
  opacity: 0.7;
}

.top-carousel .genreCarousel-card {
  background: linear-gradient(180deg, #155b62 0%, rgba(21, 91, 98, 0) 100%);
  box-shadow: inset 5px 6px 56px #155b62;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  height: 8em;
}

.top-carousel .genreCarousel-card .genre-name {
  background: #0b324f;
  border: 1px solid #318085;
  border-radius: 22.5px;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--second-bgColor);
  padding: 3%;
  cursor: pointer;
}

.top-carousel .officialVideo-card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-carousel .officialVideo-card .play-button {
  position: absolute;
  height: 30%;
  width: 30%;
}

.top-carousel .officialVideo-card .play-button img {
  width: 100%;
  height: 100%;
}

@media screen {
  @media (min-width: 425px) and (max-width: 629.98px) {
    .top-carousel {
      gap: 0.5em;
    }
    .top-carousel .sectionCarousel-card,
    .top-carousel .genreCarousel-card,
    .top-carousel .officialVideo-card {
      width: calc(50% + 4em);
    }

    .top-carousel .genreCarousel-card {
      height: 8em;
    }
  }

  @media (min-width: 630px) and (max-width: 767.98px) {
    .top-carousel {
      gap: 0.5em;
    }
    .top-carousel .sectionCarousel-card,
    .top-carousel .genreCarousel-card,
    .top-carousel .officialVideo-card {
      width: calc(50% - 2em);
    }

    .top-carousel .genreCarousel-card {
      height: 8em;
    }
  }

  @media (min-width: 768px) {
    .top-carousel {
      gap: 1em;
    }
    /* .carousel-container .left-arrow,
    .carousel-container .right-arrow {
      display: flex;
      align-items: center;
    } */
    .top-carousel .sectionCarousel-card,
    .top-carousel .officialVideo-card,
    .top-carousel .genreCarousel-card {
      width: calc(50% - 1em);
    }

    .top-carousel .genreCarousel-card {
      height: 12em;
    }

    .top-carousel .sectionCarousel-card .genres-list .genre {
      height: 2em;
      padding: 1em;
      margin-right: 0.5em;
      font-size: 14px;
    }

    .top-carousel .sectionCarousel-card .text .title {
      font-size: 20px;
    }

    .top-carousel .sectionCarousel-card .text .overview {
      font-size: 0.8em;
    }
  }
  @media (min-width: 992px) {
    .top-carousel {
      gap: 0.5em;
    }
    .top-carousel .sectionCarousel-card,
    .top-carousel .genreCarousel-card,
    .top-carousel .officialVideo-card {
      width: 32.3%;
    }
    .top-carousel .genreCarousel-card {
      height: 10em;
    }
    .top-carousel .sectionCarousel-card .text .title {
      font-size: 1.2em;
    }
  }
  @media (min-width: 1024px) {
    .top-carousel .sectionCarousel-card,
    .top-carousel .genreCarousel-card,
    .top-carousel .officialVideo-card {
      width: calc(30% + 19px) !important;
    }

    .top-carousel .genreCarousel-card {
      height: 12em;
    }

    .top-carousel .sectionCarousel-card .genres-list .genre {
      height: 2em;
      padding: 1em;
      margin-right: 0.5em;
      font-size: 85%;
    }

    .top-carousel .sectionCarousel-card .text .title {
      font-size: 100%;
    }

    .top-carousel .sectionCarousel-card .text .overview {
      font-size: 0.8em;
    }
  }
}
