@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --blue-color: #0b324f;
  --text-color: #ffffff;
  --progress-bar-fillColor: #072d31;
  --progress-bar-emptyColor: #28939d;
  --profileIcon-bgColor: #318085;
  --heroCarousel-active-dot: #318085;
  --second-bgColor: #318085;
  --heroCarousel-inactive-dots: rgba(49, 128, 133, 0.3);
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-carousel::-webkit-scrollbar {
  display: none;
}
